<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mrnexportexceltocsv.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/959cdd28-b7d1-40f7-9ed8-046f3b81e285/resourceGroups/MRNResource/providers/Microsoft.Web/sites/MRNExportExcelToCSV</ResourceId>
    <UserName>$MRNExportExcelToCSV</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://mrnexportexceltocsv.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>